.main-content {
  margin-top: 80px;
}

.question {
	/*border: 1px solid #ccc;*/
	border-radius: 3px;
	padding: 1em;
	background-color: #eff6fa;
}

.question input{
	margin-top: 1em;
}

.update-info {
	margin-top: 1em;
}

.test-result {
  border-radius: 3px; 
  background-color: #eff6fa;
  margin: 1em 0 1em 0;
  padding: 1em;
}

.test-info {
	margin-bottom: 1em;
}

.answer-content pre{
	margin-top: 5px;
}

.comment {
  border-radius: 3px; 
  background-color: #FFFFF0;
  margin: 1em 0 1em 0;
  padding: 1em;
  border: 1px solid #F4E4B4;
  color: #999;
}